@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hecho por <a href="https://docs.microsoft.com/aspnet/core">Elizabeth Quispe</a>.</p>
</div>
